:root{
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #233975
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
}

h2{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover{
    text-decoration: underline;
}

.small{
    font-size: 80%;
    text-align: center;
}

.split-screen{
    display: flex;
    flex-direction: column;
}

.left{
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(cover1.jpg);
    background-size: cover;
}

.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .copy{
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.left p{
    font-weight: 400;
}

.right .copy{
    color: black;
    text-align: center;
}

.right .copy form{
    width: 328px;
}

form input[name='fullname'],
form input[name='email'],
form input[name='password'] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

label{
    display: block;
    margin-bottom: .5rem;
    font-size: .85rem;
}

.input-container-password{
    position: relative;

}

.auth-btn{
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: white;
    font-weight: 500;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.switch-container{
    font-weight: 600;
    font-size: .8rem;
    text-align: center;
}

.auth-btn:hover{
    background: #2c4893;
}

@media screen and (min-width: 900px){
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width: 50%;
        height: auto;
    }
}